:root {
  --border-radius: 4px;
  --color-text: #333;
  --color-primary: #7026b9;
  --color-code-bg: #fff4db;
  --color-code: #8a6534;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: 'Ubuntu', sans-serif;
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
}

.pattern-bg {
  background-color: #e5e5f7;
  opacity: 0.9;
  background-image: radial-gradient(#Fbbf24 0.55px, #e5e5f7 0.55px);
  background-size: 11px 11px;
}

a {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  text-underline-offset: 2px;
}

a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}

img {
  border-style: none;
  max-width: 100%;
}

/* Heights and Widths */
.h-100vh {
  min-height: 100vh;
}

.w-100 {
  width: 100% !important;
}

/* Flexbox */
.center {
  align-items: center;
  justify-content: center;
}

.left {
  align-items: flex-start;
  justify-content: left;
}

.right {
  align-items: flex-end;
  justify-content: flex-end;
}

.column {
  flex-direction: column;
}

.center-space-around {
  align-items: center;
  justify-content: space-around;
}

.align-center {
  align-items: center;
}

.inherit-flex {
  align-items: inherit;
}

.wrap {
  flex-wrap: wrap;
}

.zero-flex {
  flex: 1 1 0;
}

.half-flex {
  flex: 1 1 40%;
}

.half-flex-on-large-screen {
  flex: 1 1 40%;
}

.full-flex {
  flex: 1 1 100%;
}

.gap-1 {
  gap: 5px;
}

.gap-2 {
  gap: 8px;
}

.cursor {
  cursor: pointer !important;
}

.caps {
  text-transform: uppercase;
}

/* Custom Animations */
.collapsible {
  max-height: 1000px;
  max-width: 1000px;
  /* Set a value larger than your content */
  overflow: hidden;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.collapsible.collapsed {
  max-width: 0;
  max-height: 0;
  opacity: 0;
  padding: 0 !important;
}